/* 
   :root ist das oberste Element im Dokument.
   Hier werden sogenannte CSS-Variablen (Custom Properties) definiert,
   die später im Code mit var(--name) wiederverwendet werden können.
*/
:root {

    /* Schriftart für Fließtext */
    --text-schriftart:inder-regular {

        font-weight: 400;
        font-style: normal;
    }


    /* Schriftart für Überschriften */
    --ueberschriften:
    /* Hauptfarbe für Elemente oder Überschriften */
    --haupt-farbe:;

    /* Hintergrundfarbe der Seite */
    background-color: #fde6f4;

    /* Standard-Schriftfarbe */
    color: black;

    /* Zweitfarbe (z. B. für Akzente oder Hover-Effekte) */
    --zweit-farbe:white;

    /* Dritte Farbe für zusätzliche Akzente */
    --dritt-farbe:black;
}

/* Allgemeines Styling für den Seiteninhalt */
body {
    /* Verwendet die definierte Schriftart aus den Variablen */
    font-family: var(--text-schriftart), sans-serif;

    /* Normale Schriftstärke */
    font-weight: normal;

    /* Setzt die Hintergrundfarbe mithilfe der Variable */
    background-color: var(--hintergrund-farbe);
}

.gericht {
    display: flex;
    justify-content: center;
    font-size: 52px;
    background-color: #fffbfb;
    padding: 50px;
    border-radius: 30px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;

}

/* Gemeinsames Styling für alle Überschriften (h1–h6) */
h1 {
    text-align: center;
}


h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.top-boxen {
    background-color: #c4bdb6;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 20px;
}

.boxen {
    background-color: #c4bdb6;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    margin-bottom: 16px;
    font-size: 20px;
}

/* Haupt-Navigationsleiste am oberen Rand der Seite */
.main-navbar {
    /* Nutzt Flexbox, um Elemente nebeneinander anzuordnen */
    display: flex;
    flex-direction: row-reverse;
    /* Platzierung: Abstand zwischen linkem und rechtem Bereich (z. B. Logo und Menü) */
    justify-content: space-between;


    /* Außenabstand rundherum */
    margin: 1%;


    /* Innenabstände links und rechts */
    padding-left: 2%;
    padding-right: 2%;
}

/* Styling für die ungeordnete Liste im Navigationsbereich */
.main-navbar ul {
    /* Elemente nebeneinander anordnen */
    display: flex;

    /* Abstand zwischen den Menüelementen */
    gap: 1rem;

    /* Gleiche Abstände zwischen Elementen */
    justify-content: space-between;

    /* Vertikal zentrieren */
    align-items: center;

    /* Keine Punkte oder Striche bei der Liste */
    list-style: none;

    /* Erlaubt Umbruch, wenn nicht genug Platz ist */
    flex-wrap: wrap;
}

/* Allgemeines Styling für Links */
a {
    /* Entfernt die Standard-Unterstreichung */
    text-decoration: none;
}

/* Links in der Hauptnavigation */
.main-navbar a {
    /* Schriftfarbe entsprechend der Variable */
    color: var(--schrift-farbe);
}

/* Hover-Zustand für Navigationslinks */
.main-navbar a:hover {
    /* Fügt eine farbige Unterstreichung beim Darüberfahren hinzu */
    text-decoration: underline var(--zweit-farbe) 2px;
}



/* Großer Banner-Bereich mit Hintergrundbild */
.banner {
    /* Mindesthöhe des Banners */
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 300px;
    border-radius: 15px;
    width: 93%;
    text-align: center;
    margin-left: 100px;
    margin-top: -55px;


    /* Setzt das Hintergrundbild */
    background-color: #fffbfb;

    /* Bild soll den gesamten Bereich ausfüllen */
    background-size: 100px;

    /* Bild wird zentriert dargestellt */
    background-position: center;

    /* Verhindert, dass das Bild sich wiederholt */
    background-repeat: no-repeat;

    /* Inhalt wird per Flexbox zentriert */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Allgemeines Styling für Inhaltsbereiche (Sections) */
section {
    /* Außenabstand um die Section herum */
    margin: 2%;

    /* Innenabstand im Bereich */
    padding: 3%;

    /* Flexbox zur Anordnung der Inhalte */
    display: flex;

    /* Zentriert horizontal und vertikal */
    justify-content: center;
    align-items: center;

    /* Abstand zwischen den Elementen */
    gap: 2rem;

    /* Inhalte umbrechen, wenn kein Platz mehr ist */
    flex-wrap: wrap;
}

/* Absatztexte in Sections */
section p {
    /* Maximale Breite von 50% – damit der Text nicht zu breit ist */
    max-width: 50%;

    /* Text wird zentriert dargestellt */
    text-align: center;
}


/* Klasse für eine vertikale (Spalten-)Anordnung mit Flexbox */
.flex-column {
    /* Richtet die Flex-Elemente von oben nach unten aus */
    flex-direction: column;

    /* Zentriert horizontal und vertikal */
    justify-content: center;
    align-items: center;

    /* Kein Abstand zwischen den Elementen */
    gap: 0;
}

/* Allgemeines Styling für Bilder */
img {
    /* Bilder dürfen maximal 300 px breit sein */
    max-width: 600px;
}

.foto {
    border-radius: 100%;
    max-width: 200px;


}


/* Fußzeile der Seite */
footer {
    /* Hintergrundfarbe in Hauptfarbe */
    background-color: rgb(207, 196, 196);

    /* Innenabstand */
    padding: 2%;

    /* Flexbox für horizontale Anordnung */
    display: flex;

    /* Platz zwischen Text und Navigation */
    justify-content: space-between;

    /* Vertikale Zentrierung */
    align-items: center;

    /* Textfarbe weiß */
    color: white;

    /* Mindesthöhe der Fußzeile */
    min-height: 5vh;

}

/* Navigation im Footer */
.footer-navbar ul {
    /* Elemente nebeneinander anzeigen */
    display: flex;

    /* Abstand zwischen den Links */
    gap: 1rem;

    /* Entfernt die Aufzählungszeichen */
    list-style: none;
}

/* Footer-Links */
.footer-navbar a {
    /* Weiße Schriftfarbe */
    color: white;
}

/* Hover-Effekt für Footer-Links */
.footer-navbar a:hover {
    /* Unterstreichung mit Akzentfarbe */
    text-decoration: underline var(--zweit-farbe) 3px;
}

/* Media Query: Regeln für kleine Bildschirme (max. 500px) */
@media screen and (max-width: 500px) {

    /* Paragraphen dürfen auf kleinen Bildschirmen fast die ganze Breite nutzen */
    section p {
        max-width: 98%;
    }

    /* Zusätzliche Abstände zwischen den Sections auf kleinen Geräten */
    section {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* Anpassung des Bereichs mit anderer Hintergrundfarbe */
    .switch-bg-color {
        /* Etwas mehr Innenabstand für kleinere Geräte */
        padding: 2rem;
    }

    /* Footer-Layout wird auf kleinen Geräten untereinander angezeigt */
    footer {
        /* Elemente untereinander statt nebeneinander */
        flex-direction: column-reverse;

        /* Zentriert alle Inhalte */
        justify-content: center;

        /* Fügt Abstand zwischen den Elementen hinzu */
        gap: 1rem;

    }
}

/* Slideshow */
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 900px;
    max-height: 2500px;
    position: relative;
    margin: auto;
    padding: 100px
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: -180px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* kontaktformular */


form {
    background-color: #c4bdb6;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 15px;
    width: 33vw;
    justify-content:flex-end;
    margin-left: 1200px;
    height: 30vw;
    



}

button {
    width: 100px;
    border: none;
    background-color: rgb(65, 38, 144);
    color: white;
    border-radius: 5px;

}

input,
textarea {
    margin-bottom: 10px;

}

label {
    margin-bottom: 10px;

}

.data-ok input {
    width: auto;
}

 
.maps{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start ;
    margin-top:-680px;
    margin-bottom: 300px;
    margin-left: 350px;
}



.impressum {

    font-size: 20px;
    margin-bottom: 70px;
    margin-left: 30px;

}
.essen{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    font-size: 18px;

}
